@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --gray: #ccc;

  --pink: #ff6464;
  --light-blue: #edf7fa;
  --blue: #00a8cc;
  --dark-blue: #21243d;
  --light-gray: #8695a4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", serif;
}

.container {
  max-width: 855px;
  margin: 0 auto;
}

@media only screen and (max-width: 920px) {
  .container {
    max-width: 755px;
  }
}

nav {
  background-color: var(--white);
  height: 86px;
  max-width: 1152px;
  margin: 0 auto;

  .nav-wrapper {
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        font-size: 44px;
        font-weight: bold;
        color: var(--black);
        text-decoration: none;
        font-family: "Lato", serif;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      list-style: none;

      .material-symbols-outlined {
        display: none;
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 60;
      }

      li {
        padding-left: 20px;
        font-size: 20px;
      }
    }
  }

  @media only screen and (max-width: 1210px) {
    .nav-wrapper {
      margin: 0 30px;
    }
  }

  @media screen and (max-width: 835px) {
    .nav-wrapper {
      .menu {
        li {
          display: none;
        }

        .material-symbols-outlined {
          display: inline;
          font-size: 60px;
        }
      }
    }
  }
}

.banner {
  background-color: var(--white);

  padding: 40px 0;

  .banner-wrapper {
    display: flex;
    justify-content: center;

    .banner-info {
      padding-right: 40px;

      h1 {
        font-size: 44px;
        font-weight: bold;
      }

      p {
        padding: 40px 0;
        font-size: 16px;
      }

      a {
        margin: 10px 0;
        padding: 10px;
        color: var(--white);
        background-color: var(--pink);
        text-decoration: none;
        font-size: 20px;
      }
    }

    .banner-profile-img {
      img {
        width: 250px;
        border-radius: 100%;
      }
    }
  }

  @media screen and (max-width: 835px) {
    .banner-wrapper {
      flex-direction: column;

      .banner-profile-img {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50%;
        }
      }

      .banner-info {
        order: 2;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.recent-posts {
  background-color: var(--light-blue);

  .recent-posts-wrapper {
    padding: 20px 0;

    .recent-post-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: var(--blue);
        text-decoration: none;
      }
    }

    .recent-post-grid {
      padding: 10px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      .post-grid-item {
        height: 300px;
        background-color: var(--white);
        padding: 25px;

        .post-title {
          h2 {
            margin-bottom: 10px;
          }
        }

        .post-tag {
          padding: 10px 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }

  @media screen and (max-width: 785px) {
    .recent-posts-wrapper {
      padding: 20px;

      .recent-post-title {
        justify-content: center;
        a {
          display: none;
        }
      }

      .recent-post-grid {
        grid-template-columns: 1fr;

        .post-grid-item {
          height: auto;

          .post-tag {
            justify-content: start;

            .seperater {
              padding: 0 20px;
            }
          }
        }
      }
    }
  }
}

.feature-works {
  background-color: var(--white);

  .feature-works-wrapper {
    padding: 20px 0;

    .feature-works-grid {
      padding: 10px 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      .feature-works-grid-item {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid var(--light-gray);

        .feature-info {
          display: flex;
          flex-direction: column;
          padding: 0 20px;

          .feature-info-tag {
            display: flex;

            padding: 20px 0;

            .feature-year {
              background-color: var(--dark-blue);
              color: var(--white);
              border-radius: 1rem;
              padding: 0 10px;
            }

            .feature-program {
              margin: 0 30px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 785px) {
    .feature-works-wrapper {
      padding: 20px;

      .feature-works-title {
        display: flex;
        justify-content: center;
      }

      .feature-works-grid {
        .feature-works-grid-item {
          flex-direction: column;

          .feature-img {
            display: flex;
            justify-content: center;
            img {
              max-width: 500px;
              width: 100%;
              object-fit: contain;
            }
          }

          .feature-info {
            padding: 20px;
          }
        }
      }
    }
  }
}

footer {
  background-color: var(--white);

  margin: 50px 0;

  .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer-social-icons {
      padding: 20px;
      img {
        padding: 0 20px;
      }
    }

    .copyright {
      padding: 20px 0;
    }
  }
}
